SERVER_URL=localhost
SERVER_PORT=3000
DATABASE_URL=localhost
DATABASE_PORT=3306
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DB=
PRODUCT_IMG_PATH=http://localhost:3000/imgs
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
NODEMAILER_HOST=smtp.gmail.com
NODEMAILER_PORT=587
NODEMAILER_USER=
NODEMAILER_PASSWORD=